openapi: 3.2.0
info:
  title: Rackspace Customer Service Metadata API
  version: '1.0'
  description: The Rackspace Customer Service API exposes customer account, contact, and metadata operations. It lets internal users and integrations look up customer accounts the caller has access to (via tenant assignment), inspect account and customer history, and read service-level metadata associated with a customer resource.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-customer-service
  x-last-validated: '2026-05-05'
servers:
- url: https://accounts.api.rackspacecloud.com
  description: Rackspace Customer Service production endpoint.
security:
- AuthToken: []
tags:
- name: Metadata
  description: Resource-level customer metadata.
paths:
  /v1/{resourceType}/{resourceId}/metadata:
    parameters:
    - $ref: '#/components/parameters/ResourceType'
    - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getListOfAllMetadataForResource
      summary: Get List Of All Metadata For Resource
      description: Returns all metadata key-value pairs attached to the specified resource.
      tags:
      - Metadata
      responses:
        '200':
          description: Metadata returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/{resourceType}/{resourceId}/metadata/{key}:
    parameters:
    - $ref: '#/components/parameters/ResourceType'
    - $ref: '#/components/parameters/ResourceId'
    - in: path
      name: key
      required: true
      schema:
        type: string
    get:
      operationId: getSpecificMetadata
      summary: Get Specific Metadata
      description: Returns the metadata entry identified by the supplied key.
      tags:
      - Metadata
      responses:
        '200':
          description: Metadata entry returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/{resourceType}/{resourceId}/metadata/{key}/details:
    parameters:
    - $ref: '#/components/parameters/ResourceType'
    - $ref: '#/components/parameters/ResourceId'
    - in: path
      name: key
      required: true
      schema:
        type: string
    get:
      operationId: getDetailsForSpecificMetadata
      summary: Get Details For Specific Metadata
      description: Returns extended detail about the metadata entry, including who created it and when.
      tags:
      - Metadata
      responses:
        '200':
          description: Metadata details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ResourceType:
      in: path
      name: resourceType
      required: true
      description: Resource type the metadata is attached to (for example, customer_accounts).
      schema:
        type: string
    ResourceId:
      in: path
      name: resourceId
      required: true
      schema:
        type: string
  schemas:
    MetadataDetails:
      title: MetadataDetails
      allOf:
      - $ref: '#/components/schemas/Metadata'
      - type: object
        properties:
          createdAt:
            type: string
            format: date-time
          createdBy:
            type: string
          updatedAt:
            type: string
            format: date-time
          updatedBy:
            type: string
    MetadataList:
      title: MetadataList
      type: object
      properties:
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
    Metadata:
      title: Metadata
      type: object
      properties:
        key:
          type: string
        value:
          type: string
        category:
          type: string
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
