openapi: 3.2.0
info:
  title: Rackspace Cloud Identity Tenants API
  version: '2.0'
  description: The Rackspace Cloud Identity API (v2.0) issues authentication tokens and manages users, tenants, roles, domains, identity providers, multi-factor authentication, secret questions, and phone PINs. It is the access-control plane for all Rackspace Cloud APIs and supports password, API-key, token, SAML federation, and multi-factor credential flows.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-cloud-identity
  x-last-validated: '2026-05-05'
servers:
- url: https://identity.api.rackspacecloud.com
  description: Rackspace US Cloud Identity endpoint.
- url: https://lon.identity.api.rackspacecloud.com
  description: Rackspace UK Cloud Identity endpoint.
security:
- AuthToken: []
tags:
- name: Tenants
  description: Tenant (account) operations.
paths:
  /v2.0/tenants:
    get:
      operationId: listTenants
      summary: List Tenants
      description: Lists all tenants accessible to the caller.
      tags:
      - Tenants
      responses:
        '200':
          description: Tenants returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2.0/tenants/{tenantId}:
    parameters:
    - in: path
      name: tenantId
      required: true
      schema:
        type: string
    get:
      operationId: getTenantById
      summary: Get Tenant By Id
      tags:
      - Tenants
      responses:
        '200':
          description: Tenant returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TenantList:
      title: TenantList
      type: object
      properties:
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/Tenant'
    Tenant:
      title: Tenant
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        enabled:
          type: boolean
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: Cloud Identity-issued service token.
