openapi: 3.0.3
info:
  title: Rackspace Cloud DNS Contacts PhonePin API
  version: '1.0'
  description: The Rackspace Cloud DNS API (v1.0) provides programmatic management of DNS zones and records hosted on the Rackspace Cloud. Operations include listing, creating, updating, importing, exporting, and cloning domains, plus full CRUD on standard DNS records and reverse DNS PTR records, with support for paginated listings, asynchronous job tracking, and per-account usage limits.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-cloud-dns
  x-last-validated: '2026-05-05'
servers:
- url: https://dns.api.rackspacecloud.com/v1.0
  description: Rackspace Cloud DNS production endpoint
security:
- AuthToken: []
tags:
- name: PhonePin
  description: Phone PIN operations for verbal account verification.
paths:
  /v2.0/users/{userId}/RAX-AUTH/phone-pin:
    parameters:
    - $ref: '#/components/parameters/UserId'
    get:
      operationId: getPhonePin
      summary: Get Phone Pin
      description: Returns the user's phone PIN, used for verbal account verification.
      tags:
      - PhonePin
      responses:
        '200':
          description: Phone PIN returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pin:
                    type: string
                  state:
                    type: string
                    enum:
                    - ACTIVE
                    - LOCKED
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updatePhonePin
      summary: Update Phone Pin
      tags:
      - PhonePin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pin
              properties:
                pin:
                  type: string
                  minLength: 4
                  maxLength: 4
      responses:
        '204':
          description: PIN updated.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    UserId:
      in: path
      name: userId
      required: true
      schema:
        type: string
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: Rackspace Cloud Identity-issued authentication token.
