openapi: 3.0.3
info:
  title: Rackspace Cloud DNS Contacts Products API
  version: '1.0'
  description: The Rackspace Cloud DNS API (v1.0) provides programmatic management of DNS zones and records hosted on the Rackspace Cloud. Operations include listing, creating, updating, importing, exporting, and cloning domains, plus full CRUD on standard DNS records and reverse DNS PTR records, with support for paginated listings, asynchronous job tracking, and per-account usage limits.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-cloud-dns
  x-last-validated: '2026-05-05'
servers:
- url: https://dns.api.rackspacecloud.com/v1.0
  description: Rackspace Cloud DNS production endpoint
security:
- AuthToken: []
tags:
- name: Products
  description: Product catalog operations.
paths:
  /v2/products:
    get:
      operationId: getProducts
      summary: Get Products
      description: Lists Rackspace products under an offering.
      tags:
      - Products
      parameters:
      - in: query
        name: offeringCode
        schema:
          type: string
      - in: query
        name: offeringVersion
        schema:
          type: integer
      - $ref: '#/components/parameters/Status'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Marker'
      responses:
        '200':
          description: Products returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/products/{productCode}:
    parameters:
    - in: path
      name: productCode
      required: true
      schema:
        type: string
    get:
      operationId: getProduct
      summary: Get Product
      description: Returns a single product by its product code.
      tags:
      - Products
      responses:
        '200':
          description: Product returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    Status:
      in: query
      name: status
      required: false
      schema:
        type: string
        enum:
        - ACTIVE
        - INACTIVE
        default: ACTIVE
    Marker:
      in: query
      name: marker
      required: false
      description: Pagination marker (the starting point for the next batch of items).
      schema:
        type: string
    Limit:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        default: 100
        maximum: 100
  schemas:
    Link:
      title: Link
      type: object
      properties:
        rel:
          type: string
        href:
          type: string
          format: uri
    Product:
      title: Product
      type: object
      properties:
        productCode:
          type: string
        productVersion:
          type: integer
        name:
          type: string
        description:
          type: string
        offeringCode:
          type: string
        offeringVersion:
          type: integer
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        unitOfMeasure:
          type: string
        currency:
          type: string
        listPrice:
          type: number
          format: float
    ProductList:
      title: ProductList
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: Rackspace Cloud Identity-issued authentication token.
