openapi: 3.0.3
info:
  title: Rackspace Cloud DNS Contacts Currency API
  version: '1.0'
  description: The Rackspace Cloud DNS API (v1.0) provides programmatic management of DNS zones and records hosted on the Rackspace Cloud. Operations include listing, creating, updating, importing, exporting, and cloning domains, plus full CRUD on standard DNS records and reverse DNS PTR records, with support for paginated listings, asynchronous job tracking, and per-account usage limits.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-cloud-dns
  x-last-validated: '2026-05-05'
servers:
- url: https://dns.api.rackspacecloud.com/v1.0
  description: Rackspace Cloud DNS production endpoint
security:
- AuthToken: []
tags:
- name: Currency
  description: Currency lookup.
paths:
  /v2/currencies/{currencyCode}:
    parameters:
    - in: path
      name: currencyCode
      required: true
      description: ISO-4217 currency code.
      schema:
        type: string
        minLength: 3
        maxLength: 3
    get:
      operationId: getCurrency
      summary: Get Currency
      description: Returns currency metadata.
      tags:
      - Currency
      responses:
        '200':
          description: Currency returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Currency:
      title: Currency
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        symbol:
          type: string
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: Rackspace Cloud Identity-issued authentication token.
