openapi: 3.2.0
info:
  title: Rackspace Cloud Identity Secret QA API
  version: '2.0'
  description: The Rackspace Cloud Identity API (v2.0) issues authentication tokens and manages users, tenants, roles, domains, identity providers, multi-factor authentication, secret questions, and phone PINs. It is the access-control plane for all Rackspace Cloud APIs and supports password, API-key, token, SAML federation, and multi-factor credential flows.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-cloud-identity
  x-last-validated: '2026-05-05'
servers:
- url: https://identity.api.rackspacecloud.com
  description: Rackspace US Cloud Identity endpoint.
- url: https://lon.identity.api.rackspacecloud.com
  description: Rackspace UK Cloud Identity endpoint.
security:
- AuthToken: []
tags:
- name: SecretQA
  description: Secret question and answer operations.
paths:
  /v2.0/users/{userId}/RAX-KSQA/secretqa:
    parameters:
    - $ref: '#/components/parameters/UserId'
    get:
      operationId: getSecretQa
      summary: Get Secret QA
      tags:
      - SecretQA
      responses:
        '200':
          description: Secret QA returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  question:
                    type: string
                  answer:
                    type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateSecretQa
      summary: Update Secret QA
      tags:
      - SecretQA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - question
              - answer
              properties:
                question:
                  type: string
                answer:
                  type: string
      responses:
        '204':
          description: Secret QA updated.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    UserId:
      in: path
      name: userId
      required: true
      schema:
        type: string
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: Cloud Identity-issued service token.
