openapi: 3.2.0
info:
  title: Rackspace Offer Currency API
  version: '2.0'
  description: The Rackspace Offer API (v2) exposes the Rackspace offerings catalog, including offerings, products, currency, and pricing grids (commit grids, volume grids). It supports listing offerings by line-of-business and status, retrieving products, and computing discounts via commit and volume grids.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-offerings
  x-last-validated: '2026-05-05'
servers:
- url: https://offerings.api.rackspacecloud.com
  description: Rackspace Offerings API endpoint.
security:
- AuthToken: []
tags:
- name: Currency
  description: Currency lookup.
paths:
  /v2/currencies/{currencyCode}:
    parameters:
    - in: path
      name: currencyCode
      required: true
      description: ISO-4217 currency code.
      schema:
        type: string
        minLength: 3
        maxLength: 3
    get:
      operationId: getCurrency
      summary: Get Currency
      description: Returns currency metadata.
      tags:
      - Currency
      responses:
        '200':
          description: Currency returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Currency:
      title: Currency
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        symbol:
          type: string
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
