openapi: 3.2.0
info:
  title: Rackspace Offer Products API
  version: '2.0'
  description: The Rackspace Offer API (v2) exposes the Rackspace offerings catalog, including offerings, products, currency, and pricing grids (commit grids, volume grids). It supports listing offerings by line-of-business and status, retrieving products, and computing discounts via commit and volume grids.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-offerings
  x-last-validated: '2026-05-05'
servers:
- url: https://offerings.api.rackspacecloud.com
  description: Rackspace Offerings API endpoint.
security:
- AuthToken: []
tags:
- name: Products
  description: Product catalog operations.
paths:
  /v2/products:
    get:
      operationId: getProducts
      summary: Get Products
      description: Lists Rackspace products under an offering.
      tags:
      - Products
      parameters:
      - in: query
        name: offeringCode
        schema:
          type: string
      - in: query
        name: offeringVersion
        schema:
          type: integer
      - $ref: '#/components/parameters/Status'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Marker'
      responses:
        '200':
          description: Products returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/products/{productCode}:
    parameters:
    - in: path
      name: productCode
      required: true
      schema:
        type: string
    get:
      operationId: getProduct
      summary: Get Product
      description: Returns a single product by its product code.
      tags:
      - Products
      responses:
        '200':
          description: Product returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProductList:
      title: ProductList
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Link:
      title: Link
      type: object
      properties:
        rel:
          type: string
        href:
          type: string
          format: uri
    Product:
      title: Product
      type: object
      properties:
        productCode:
          type: string
        productVersion:
          type: integer
        name:
          type: string
        description:
          type: string
        offeringCode:
          type: string
        offeringVersion:
          type: integer
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        unitOfMeasure:
          type: string
        currency:
          type: string
        listPrice:
          type: number
          format: float
  parameters:
    Limit:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        default: 100
        maximum: 100
    Status:
      in: query
      name: status
      required: false
      schema:
        type: string
        enum:
        - ACTIVE
        - INACTIVE
        default: ACTIVE
    Marker:
      in: query
      name: marker
      required: false
      description: Pagination marker (the starting point for the next batch of items).
      schema:
        type: string
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
