openapi: 3.2.0
info:
  title: Rackspace Cloud Identity Multi Factor API
  version: '2.0'
  description: The Rackspace Cloud Identity API (v2.0) issues authentication tokens and manages users, tenants, roles, domains, identity providers, multi-factor authentication, secret questions, and phone PINs. It is the access-control plane for all Rackspace Cloud APIs and supports password, API-key, token, SAML federation, and multi-factor credential flows.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-cloud-identity
  x-last-validated: '2026-05-05'
servers:
- url: https://identity.api.rackspacecloud.com
  description: Rackspace US Cloud Identity endpoint.
- url: https://lon.identity.api.rackspacecloud.com
  description: Rackspace UK Cloud Identity endpoint.
security:
- AuthToken: []
tags:
- name: MultiFactor
  description: Multi-factor authentication setup and operations.
paths:
  /v2.0/users/{userId}/RAX-AUTH/multi-factor:
    parameters:
    - $ref: '#/components/parameters/UserId'
    put:
      operationId: updateMultiFactorSettings
      summary: Update Multi-Factor Settings
      description: Enables, disables, or unlocks multi-factor authentication for a user.
      tags:
      - MultiFactor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                multiFactor:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    unlock:
                      type: boolean
      responses:
        '204':
          description: Multi-factor settings updated.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2.0/users/{userId}/RAX-AUTH/multi-factor/mobile-phones:
    parameters:
    - $ref: '#/components/parameters/UserId'
    post:
      operationId: addMobilePhone
      summary: Add Mobile Phone
      tags:
      - MultiFactor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MobilePhone'
      responses:
        '201':
          description: Mobile phone added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobilePhone'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MobilePhone:
      title: MobilePhone
      type: object
      properties:
        id:
          type: string
        number:
          type: string
        verified:
          type: boolean
  parameters:
    UserId:
      in: path
      name: userId
      required: true
      schema:
        type: string
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: Cloud Identity-issued service token.
