openapi: 3.2.0
info:
  title: Rackspace Offer Offerings API
  version: '2.0'
  description: The Rackspace Offer API (v2) exposes the Rackspace offerings catalog, including offerings, products, currency, and pricing grids (commit grids, volume grids). It supports listing offerings by line-of-business and status, retrieving products, and computing discounts via commit and volume grids.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-offerings
  x-last-validated: '2026-05-05'
servers:
- url: https://offerings.api.rackspacecloud.com
  description: Rackspace Offerings API endpoint.
security:
- AuthToken: []
tags:
- name: Offerings
  description: Offering catalog operations.
paths:
  /v2/offerings:
    get:
      operationId: getOfferings
      summary: Get Offerings
      description: Lists Rackspace offerings available in the product catalog.
      tags:
      - Offerings
      parameters:
      - $ref: '#/components/parameters/LineOfBusiness'
      - $ref: '#/components/parameters/Status'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Marker'
      responses:
        '200':
          description: Offerings returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferingList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    LineOfBusiness:
      in: query
      name: lineOfBusiness
      required: false
      description: The Rackspace line of business associated with the offering (for example, US_CLOUD).
      schema:
        type: string
    Limit:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        default: 100
        maximum: 100
    Status:
      in: query
      name: status
      required: false
      schema:
        type: string
        enum:
        - ACTIVE
        - INACTIVE
        default: ACTIVE
    Marker:
      in: query
      name: marker
      required: false
      description: Pagination marker (the starting point for the next batch of items).
      schema:
        type: string
  schemas:
    OfferingList:
      title: OfferingList
      type: object
      properties:
        offerings:
          type: array
          items:
            $ref: '#/components/schemas/Offering'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Offering:
      title: Offering
      type: object
      properties:
        offeringCode:
          type: string
        offeringVersion:
          type: integer
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        lineOfBusiness:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
    Link:
      title: Link
      type: object
      properties:
        rel:
          type: string
        href:
          type: string
          format: uri
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
