openapi: 3.2.0
info:
  title: Rackspace Cloud Identity Phone Pin API
  version: '2.0'
  description: The Rackspace Cloud Identity API (v2.0) issues authentication tokens and manages users, tenants, roles, domains, identity providers, multi-factor authentication, secret questions, and phone PINs. It is the access-control plane for all Rackspace Cloud APIs and supports password, API-key, token, SAML federation, and multi-factor credential flows.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-cloud-identity
  x-last-validated: '2026-05-05'
servers:
- url: https://identity.api.rackspacecloud.com
  description: Rackspace US Cloud Identity endpoint.
- url: https://lon.identity.api.rackspacecloud.com
  description: Rackspace UK Cloud Identity endpoint.
security:
- AuthToken: []
tags:
- name: PhonePin
  description: Phone PIN operations for verbal account verification.
paths:
  /v2.0/users/{userId}/RAX-AUTH/phone-pin:
    parameters:
    - $ref: '#/components/parameters/UserId'
    get:
      operationId: getPhonePin
      summary: Get Phone Pin
      description: Returns the user's phone PIN, used for verbal account verification.
      tags:
      - PhonePin
      responses:
        '200':
          description: Phone PIN returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pin:
                    type: string
                  state:
                    type: string
                    enum:
                    - ACTIVE
                    - LOCKED
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updatePhonePin
      summary: Update Phone Pin
      tags:
      - PhonePin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pin
              properties:
                pin:
                  type: string
                  minLength: 4
                  maxLength: 4
      responses:
        '204':
          description: PIN updated.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    UserId:
      in: path
      name: userId
      required: true
      schema:
        type: string
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: Cloud Identity-issued service token.
