openapi: 3.2.0
info:
  title: Rackspace Customer Service Contacts API
  version: '1.0'
  description: The Rackspace Customer Service API exposes customer account, contact, and metadata operations. It lets internal users and integrations look up customer accounts the caller has access to (via tenant assignment), inspect account and customer history, and read service-level metadata associated with a customer resource.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-customer-service
  x-last-validated: '2026-05-05'
servers:
- url: https://accounts.api.rackspacecloud.com
  description: Rackspace Customer Service production endpoint.
security:
- AuthToken: []
tags:
- name: Contacts
  description: Customer contact operations.
paths:
  /v1/customer_accounts/{rcn}/contacts:
    parameters:
    - $ref: '#/components/parameters/RCN'
    get:
      operationId: getListOfContacts
      summary: Get List Of Contacts
      description: Returns the list of contacts associated with the customer account.
      tags:
      - Contacts
      responses:
        '200':
          description: Contacts returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/customer_accounts/{rcn}/contacts/{contactId}:
    parameters:
    - $ref: '#/components/parameters/RCN'
    - in: path
      name: contactId
      required: true
      schema:
        type: string
    get:
      operationId: getContact
      summary: Get Contact
      description: Returns a single contact by ID.
      tags:
      - Contacts
      responses:
        '200':
          description: Contact returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Contact:
      title: Contact
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        roles:
          type: array
          items:
            type: string
        primary:
          type: boolean
    ContactList:
      title: ContactList
      type: object
      properties:
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
  parameters:
    RCN:
      in: path
      name: rcn
      required: true
      description: The Rackspace Customer Number (RCN) identifying the customer account.
      schema:
        type: string
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
