openapi: 3.2.0
info:
  title: Rackspace Cloud Identity Versions API
  version: '2.0'
  description: The Rackspace Cloud Identity API (v2.0) issues authentication tokens and manages users, tenants, roles, domains, identity providers, multi-factor authentication, secret questions, and phone PINs. It is the access-control plane for all Rackspace Cloud APIs and supports password, API-key, token, SAML federation, and multi-factor credential flows.
  contact:
    name: Rackspace Technology
    url: https://www.rackspace.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
  x-source-url: https://github.com/rackerlabs/docs-cloud-identity
  x-last-validated: '2026-05-05'
servers:
- url: https://identity.api.rackspacecloud.com
  description: Rackspace US Cloud Identity endpoint.
- url: https://lon.identity.api.rackspacecloud.com
  description: Rackspace UK Cloud Identity endpoint.
security:
- AuthToken: []
tags:
- name: Versions
  description: Service version metadata.
paths:
  /:
    get:
      operationId: listVersions
      summary: List Versions
      description: Lists supported versions of the Identity service.
      tags:
      - Versions
      security: []
      responses:
        '200':
          description: Versions list returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Versions'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2.0:
    get:
      operationId: showVersion
      summary: Show Version
      description: Returns metadata about the v2.0 Identity API.
      tags:
      - Versions
      security: []
      responses:
        '200':
          description: Version returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Version:
      title: Version
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        updated:
          type: string
          format: date-time
        links:
          type: array
          items:
            type: object
            properties:
              rel:
                type: string
              href:
                type: string
                format: uri
              type:
                type: string
    Versions:
      title: Versions
      type: object
      properties:
        versions:
          type: object
          properties:
            values:
              type: array
              items:
                $ref: '#/components/schemas/Version'
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: Cloud Identity-issued service token.
